@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Hanken Grotesk", sans-serif;
}

body {
  display: grid;
  height: 100vh;
  place-items: center;
  background: linear-gradient(320deg, #e98141, #dc364c, #c42fbf);
}

#slackDisplayImage {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 10px;
}

.card {
  background: rgba(255, 255, 255, 0.54);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 300px;
}

#slackUserName {
  font-size: 20px;
}

h3,
a {
  font-size: 15px;
  color: #000;
  text-decoration: none;
}
